/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* End of reset */

/* Setting variables */
:root {
    --text-color-light: #0a3641;
    --background-color-light: #fffded;
    --main-cta: #f72c25;
    --secondary-cta: #ffb17a;
    --footer-bg-light: #fce762;
    --button-padding: 10px 20px;
    --font-header: "Barlow Condensed", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;
    --font-paragraph: "Source Sans 3", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;
    --bg-tint-color-light: #fffdeda7;
    font-size: clamp(0.8em, 22vw, 1.2em);

    color-scheme: light dark;
    --text-color-dark: #e8f0f2;
  --background-color-dark: #0b1416;
  --footer-bg-dark: #202a2e;
  --bg-tint-color-dark: #0b141680;

  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --footer-bg: var(--footer-bg-light);
  --bg-tint-color: var(--bg-tint-color-light);
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --background-color: var(--background-color-dark);
    --footer-bg: var(--footer-bg-dark);
    --bg-tint-color: var(--bg-tint-color-dark);
  }
}

:root:has(#theme-toggle:checked) {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --footer-bg: var(--footer-bg-dark);
  --bg-tint-color: var(--bg-tint-color-dark);
}

/* Defining basics for typography */
h1 {
    font-size: 1.56rem;
    /*3.05rem; */
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h2 {
    font-size: 2.44rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h3 {
    font-size: 1.95rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h4 {
    font-size: 1.56rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h5,
button {
    font-size: 1.25rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h6 {
    font-size: 0.8rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    margin: 2em 0;
    line-height: 1.5;
}

/* End of the typography */

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color-light);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--background-color-light);
}

/* Making the dividing line between the header and main */
/* this is annoying, I could do this in typescript in 5 minutes */
/* but had to fight ChatGPT (and myself) for an adequat answer */
/*header::after {
    z-index: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-image: url("./images/background/transition-line.svg");
    background-repeat: no-repeat;
    background-size: calc(max(1600px, 100%) + 20px) auto;
    pointer-events: none;
    background-position: right 100%;
    bottom: -23px;
}*/

.logo-wrapper {
    display: flex;
    /*z-index: 2;*/
    height: 100%;
    /*padding: 0.85em;*/
}


.logo-wrapper>img {
    height: clamp(5rem, 22vw, 8rem);
    padding: .5em 1.5em;
}

.nav-wrapper {
    padding: 1rem 0;
    /*z-index: 2;*/
    height: 100%;
    display: flex;
    align-items: flex-end;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5rem;
}

li>a {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: .75em 1.5em;
    font-size: 1.25rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
    text-decoration: none;
}

li>a img {
    display: block;
    height: 1.2em;
}

.light-dark-switch-wrapper {
    padding: 1em;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}


.theme-switch {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    border-radius: .5em;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--bg-tint-color-light);
    border-radius: .4em;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(3em);
    -ms-transform: translateX(3em);
    transform: translateX(3em);
}


.hamburger-menu {
    display: none;
}


main {
    width: 100vw;
    background: var(--background-color-light);
    background-image: linear-gradient(var(--bg-tint-color-light)), url('./images/background/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

main>article {
    margin: clamp(1em, 10vw, 5em) clamp(.2em, 5vw, 20em);
    padding: clamp(0.2em, 10vw, 7em);
    background: color-mix(in srgb, var(--background-color-light), transparent 50%);
}


.button-wrapper-right {
    display: flex;
    flex-direction: row-reverse;
}

.button-wrapper-right>button {
    background: var(--main-cta);
    padding: 1em;
    color: var(--background-color-light);
    border-radius: 1em;
    border: none;
}

footer {
    width: 100vw;
    background: var(--footer-bg-light);
    display: flex;
    justify-content: space-between;
}

.footer-text {
    width: 30%;
    padding: 0 4em;
}


footer>div {
    height: 100%;
    text-align: center;
    align-content: center;
}

.logo-footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.logo-footer>img {
    height: clamp(6rem, 20vw, 7rem);
    padding: .5em;
}

@media screen and (width >=1500px) {

    /* Exagerating the padding and margin for wider screens */
    main>article {
        margin: clamp(1em, 10vw, 5em) clamp(.2em, 30vw, 30em);
        padding: clamp(0.2em, 10vw, 7em) clamp(0.2em, 30vw, 15em);
    }

}

@media screen and (width <=900px) {

    /* Removing the in the footer for smaller screen-sizes */
    .footer-text {
        display: none;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Removing the dark-light switch for smaller screen-sizes 
       and moving the nav to a hamburger menu  */
    .nav-wrapper {
        display: none
    }

    .light-dark-switch-wrapper {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }

}