/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* End of reset */

/* Setting variables */
:root {
    --text-color-light: #0a3641;
    --background-color-light: #fffded;
    --main-cta: #f72c25;
    --secondary-cta: #ffb17a;
    --footer-bg-light: #fce762;
    --button-padding: 10px 20px;
    --font-header: "Barlow Condensed", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;
    --font-paragraph: "Source Sans 3", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;
    --bg-tint-color-light: #fffdeda7;
    font-size: clamp(0.8em, 22vw, 1.2em);
}

/* Defining basics for typography */
h1 {
    font-size: 3.05rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

h2 {
    font-size: 2.44rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

h3 {
    font-size: 1.95rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

h4 {
    font-size: 1.56rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

h5,
button {
    font-size: 1.25rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

h6 {
    font-size: 0.8rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color-light);
}

p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color-light);
}

/* End of the typography */

body {
    height: 100dvh;
    background-color: var(--background-color-light);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--background-color-light);
}

/* Making the dividing line between the header and main */
/* this is annoying, I could do this in typescript in 5 minutes */
/* but had to fight ChatGPT (and myself) for an adequat answer */
header::after {
    z-index: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-image: url("./images/background/transition-line.svg");
    background-repeat: no-repeat;
    background-size: calc(max(1600px, 100%) + 20px) auto;
    pointer-events: none;
    background-position: right 100%;
    bottom: -23px;
}

.logo-wrapper {
    display: flex;
    z-index: 2;
    height: 100%;
    padding: 0.85em;
}

.logo-wrapper>img {
    height: clamp(6rem, 22vw, 10rem);
    padding: 1em;
}


.nav-wrapper {
    padding: 1rem;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5rem;
}


.light-dark-switch-wrapper {
    padding: 5rem;
}


main {
    width: 100%;
    background: var(--background-color-light);
    background-image: linear-gradient(var(--bg-tint-color-light)), url('./images/background/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

main>article {
    margin: 5rem 20rem;
    padding: 7rem;
    background: color-mix(in srgb, var(--background-color-light), transparent 50%);
}

main>article>p {
    margin: 2rem 0;
}

.button-wrapper-right {
    display: flex;
    flex-direction: row-reverse;
}

.button-wrapper-right>button {
    background: var(--main-cta);
    padding: 1rem;
    color: var(--background-color-light);
    border-radius: 1rem;
    border: none;
}

footer {
    width: 100%;
    background: var(--footer-bg-light);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer>div {
    height: 100%;
    text-align: center;
    align-content: center;
    width: 70%;
}

.logo-footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.logo-footer>img {
    height: clamp(6rem, 22vw, 10rem);
    padding: 1em;
}