/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color);
}