footer {
    width: 100vw;
    background: var(--footer-bg-light);
    display: flex;
    justify-content: space-between;
}


.footer-text {
    width: 30%;
    padding: 0 4em;
}


footer>div {
    height: 100%;
    text-align: center;
    align-content: center;
}

.logo-footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.logo-footer>svg {
    height: clamp(6rem, 20vw, 7rem);
    padding: .5em;
}