header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--background-color-light);
}

.logo-wrapper {
    display: flex;
    /*z-index: 2;*/
    height: 100%;
    /*padding: 0.85em;*/
    width: auto;
}


.logo-wrapper>svg {
    height: clamp(5rem, 22vw, 8rem);
    padding: .5em 1.5em;
}

.nav-wrapper {
    padding: 1rem 0;
    /*z-index: 2;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    width: min(100%, 1200px);
    padding: 0 2em;
    margin: 0;
    justify-content: space-between;
}

li>a {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: .75em 1.5em;
    font-size: 1.25rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
    text-decoration: none;
}

li>a img {
    display: block;
    height: 1.2em;
}

.light-dark-switch-wrapper {
    user-select: none;
    padding: 1em;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}


.theme-switch {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    border-radius: .5em;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--bg-tint-color-light);
    border-radius: .4em;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(3em);
    -ms-transform: translateX(3em);
    transform: translateX(3em);
}


.hamburger-menu {
    display: none;
}



/* Making the dividing line between the header and main */
/* this is annoying, I could do this in typescript in 5 minutes */
/* but had to fight ChatGPT (and myself) for an adequat answer */
/* Might remove this later, or go back to see if I  can make it work the way I want it to */
/*header::after {
    z-index: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-image: url("./images/background/transition-line.svg");
    background-repeat: no-repeat;
    background-size: calc(max(1600px, 100%) + 20px) auto;
    pointer-events: none;
    background-position: right 100%;
    bottom: -23px;
}*/