main {
    width: 100vw;
    background: var(--background-color);
    background-image: linear-gradient(var(--bg-tint-color)), url('../images/background/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

main>article {
    margin: clamp(1em, 10vw, 5em) clamp(.2em, 5vw, 20em);
    padding: clamp(0.2em, 10vw, 7em);
    background: color-mix(in srgb, var(--background-color), transparent 50%);
}

.button-wrapper-right {
    display: flex;
    flex-direction: row-reverse;
}


/* Designing the visuals of buttons */
/* (Not included the nav elements or light/dark) */
.button-style-main {
    background: var(--main-cta);
    padding: .75em 1em;
    color: var(--text-color);
    border-radius: .5em;
    border: none;
}

.button-style-main:hover {
    background: var(--secondary-cta);
    color: var(--background-color);
}
