main {
    display: grid;
    grid-template-areas:
        "contact-info summary"
        "contact-info to-payment";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 300px;
    padding: 2em clamp(0.2em, 22vw, 13em);
    gap: 1em;
}

.payment-contact-info,
.payment-billing-info {
    grid-area: contact-info;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 2em;
    line-height: 0;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    box-shadow: 2px 3px 8px color-mix(in srgb, var(--text-color), transparent 50%);
}

.payment-billing-info,
.summary-hidden {
    display: none;
}

.form-item {
    display: inline-block;
    margin: 0 1em 0 0;
}

form p {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}

form input {
    height: 2em;
    padding: 0 0.5em;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
}

.order-summary {
    grid-area: summary;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
    line-height: 1.2;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    box-shadow: 2px 3px 8px color-mix(in srgb, var(--text-color), transparent 50%);
}

.order-item {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: .5em;
}

.order-item p {
    padding: 0;
    margin: .5em .5em .5em 0;
}

.order-item img {
    height: 3em;
    padding: 0 1em 0 0;
}

.order-summary>h2 {
    display: flex;
    justify-content: right;
}

.to-payment-info,
.to-payment-summary {
    grid-area: to-payment;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    line-height: 1.2;
}

.to-payment-summary {
    display: none;
}

.progress-bar img {
    width: 100%;
}
.progress-bar{
    padding: 1em 0;
}

.billing-button-wrapper {
    position: relative;
    color: var(--text-color);
    width: 100%;
    height: 3em;
    background: var(--secondary-cta);
    border-radius: var(--border-radius);
}

.billing-button-wrapper>h2 {
    color: inherit;
    border-radius: var(--border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.billing-button-wrapper:hover {
    background: var(--main-cta);
    color: var(--background-color);
}

#to-billing-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:root:has(#to-billing-button:checked) {

    .to-payment-info,
    .payment-contact-info {
        display: none;
    }

    .to-payment-summary,
    .payment-billing-info {
        display: flex;
    }
}

:root:has(#to-summary-button:checked) {

    .to-payment-summary,
    .payment-billing-info {
        display: none;
    }

    main {
        grid-template-areas:
            "summary";
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .summary-hidden {
        display: inline;
    }
}