main{
    padding: 2em;
    display: flex;
    justify-content: center;
}

.payment-contact-info{
    background: var(--background-color);
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.payment-contact-info > form > div {
  display: inline-block;
}

.payment-contact-info > form > div>p {
  padding: 0;
  margin: 0;
}

.payment-contact-info > form > div>input {
  padding: 0;
  margin: 0;
}