footer {
    grid-area: footer;
}

header {
    grid-area: header;
}

body {
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: calc(300px + 6em) 1fr;
}

aside {
    grid-area: aside;
    position: relative;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    overflow: auto;
    background: color-mix(in srgb, var(--text-color), transparent 50%);
    scrollbar-width: none;
}

aside>h1 {
    color: var(--background-color);
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 2em;
    justify-content: center;
}

.product-summary {
    grid-area: product-summary;
    padding: 0 3em;
    max-width: 500px;
}

aside h2 {
    color: var(--text-color);
}

.button-wrapper-right {
    grid-area: button-wrapper;
    display: flex;
    text-align: center;
    padding: 0 2em;
}

.button-wrapper-right>a {
    width: 10em;
}

.jacket-wrapper {
    grid-area: jacket-wrapper;
    background: color-mix(in srgb, var(--background-color), transparent 50%);
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    height: 350px;
    border-radius: var(--border-radius);
    padding: 1em;
}

.jacket-wrapper>img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
}

.jacket-wrapper>p {
    position: absolute;
    top: 5%;
    left: 10%;
    background: var(--secondary-cta);
    padding: .25em .75em;
    border-radius: 5em;
}

@media screen and (width <=1100px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    main {
        grid-area: main;
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        padding: 1em;
    }

    aside {
        display: none;
    }

    .jacket-wrapper {
        width: 300px;
        margin: 0 auto;
    }
}