footer {
    grid-area: footer;
}

header {
    grid-area: header;
}

body {
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: calc(300px + 6em) 1fr;
}

aside {
    grid-area: aside;
    position: relative;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    overflow: auto;
    background: var(--text-color);
    scrollbar-width: none;
}

aside>h1 {
    color: var(--background-color);
}

main {
    grid-area: main;
    width: 100%;
    padding: 2em;
    display: grid;
    grid-template-areas:
        "img-wrapper product-summary"
        "button-wrapper button-wrapper";
    grid-template-rows: auto auto;
    grid-template-columns: 300px auto;
}

.product-summary {
    grid-area: product-summary;
    padding: 0 3em;
}

.button-wrapper-right {
    grid-area: button-wrapper;
    display: flex;
    text-align: center;
}

.button-wrapper-right>a {
    width: 10em;
}

.jacket-wrapper {
    grid-area: img-wrapper;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    height: 350px;
    border-radius: .75em;
    padding: 1em;
}

.jacket-wrapper>img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
}

.jacket-wrapper>p {
    position: absolute;
    top: 5%;
    left: 10%;
    background: var(--secondary-cta);
    padding: .25em .75em;
    border-radius: 5em;
}

@media screen and (width <=1280px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-rows: auto 1fr calc(350px + 2em) auto;
        grid-template-columns: 1fr;
    }
}