footer {
    grid-area: footer;
}

header {
    grid-area: header;
}

body {
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: calc(300px + 2em) 1fr;
}


aside {
    grid-area: aside;
    position: relative;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    overflow: auto;
    background: var(--text-color);
    scrollbar-width: none;
}

aside>h1 {
    color: var(--background-color);
}

main {
    grid-area: main;
    width: 100%;
    padding: 2em;
    display: grid;
    grid-template-areas:
        "img-wrapper product-summary"
        "button-wrapper button-wrapper";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto;
}


.img-wrapper {
    position: relative;
    grid-area: img-wrapper;
}

.product-summary {
    grid-area: product-summary;
    background: blue;
}

.button-wrapper-right {
    grid-area: button-wrapper;

}

@media screen and (width <=1280px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-rows: auto 1fr calc(350px + 2em) auto;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
}